body{
    background-color: green;
    color: azure;
    
}
p{
    font-family: monospace;
    font-size: 20px;
    
}
.aaa{
    color: red;
    font-size: 80px;
    text-align: left;
    
}
table{
        background-color: aqua;
}
td{
    
    text-align: center;
    color: red;

}
